// Class bbccom_mpu is added by bbcdotcom module when MPU ad is inserted into the DOM

@include mq($from: gel3) {
    .bbccom_mpu .mpu-grid {
        .tlec-page-card {
            width: 100%;
        }

        .mpu-grid__left {
            width: 50%;
        }

        .mpu-grid__right {
            order: 2;
            width: 50%;
        }
    }
}

@include mq($from: gel3b) {
    .bbccom_mpu .mpu-grid {
        .tlec-page-card {
            width: 50%;
        }

        .tlec-page-card--doublewide {
            width: 100%;
        }

        .mpu-grid__left {
            width: 66.66%;
        }

        .mpu-grid__right {
            width: 33.33%;
        }
    }
}

@include mq($from: gel4) {
    .bbccom_mpu .mpu-grid .brand-supporting-content {
        width: 100%;
    }
}

@include mq($from: gel5) {
    .bbccom_mpu .mpu-grid {
        .tlec-page-card {
            width: 33.33%;
        }

        .tlec-page-card--doublewide {
            width: 66.66%;
        }

        .mpu-grid__left {
            width: 75%;
        }

        .mpu-grid__right {
            width: 25%;
        }
    }
}
